# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
.env.local

# Node & Frontend
node_modules/
dist/
frontend/dist/
frontend/node_modules/
.DS_Store
Thumbs.db
